@{
    ViewData["Title"] = "Home Page";
}
@model MVC.Models.User

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div>
        <h2>
            @ViewBag.UserName !!!
        </h2>

        <table class="table">
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
            </tr>
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Surname</td>
                <td>@Model.Age</td>
            </tr>

        </table>
    </div>

