<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=testdboullon;AccountKey=0N9ldOWWmXEq+OCx1uFt41VXWq8LX3QwLaR4TB+uP5eRv+N5FfJn35ZZv+iauj2Js/Jy9Q8zavrJAgHNwl9DFQ==" />
  </appSettings>
</configuration>